.error-message {
    color: red;
    font-size: small;
}

.input {
    margin-bottom: 20px;
}

  
.forgot-pass-container {
 width: 300px;
 display: flex;
 flex-direction: column;
}

.title {
    font-size: 24px;
    color: rgb(3, 54, 83);
    margin-bottom: 30px;
}