<div class="forgot-pass-container">
    <h3 class="title">Enter your email:</h3>
    <app-input class="input" [placeholder]="'Enter email'" [control]="emailControl"  [type]="'text'"></app-input>
    <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)">
        <div class="error-message"  *ngIf="emailControl.errors?.['email']">Invalid email</div>
      </div>
    <app-button [label]="'Back to Sign In'" (onClick)="goToLogin()" [type]="'button'" [style]="'secondary'"></app-button>
    <hr/>
    <app-button [label]="'Submit'" (onClick)="handleSubmit()" [type]="'button'" [style]="'secondary'"></app-button>
    
</div>
