/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

body,
ul {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

:root {
  --primary-color: #007bff; 
  --background-color: #ffffff;
  --secondary-color:#dddd;
  --font-color: #333333;
}

/* Dark theme */
.dark-theme {
  --primary-color: #ff6b6b; 
  --background-color: #333333;
  --secondary-color:#e65858;
  --font-color:#fff; 
}