.navbar {
    background-color: var(--secondary-color);
    color: var(--font-color);
    height: 56px;
    display: flex;
    align-items: center;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 20px;
}
