<app-table 
  [dataSource]="homeService.itemsData$ | async" 
  [actions]="true"
  (deleteAction)="homeService.handleDeleteClick($event)"
  (viewAction)="homeService.handleViewClick($event)"
  [select]="true"
  [isLoading]="homeService.isLoading$ | async">
  <th class="header-cell">id</th>
  <th class="header-cell">Name</th>
  <th class="header-cell">Email</th>
  <th class="header-cell">Phone</th>
  <th class="header-cell">Form name</th>
  <th class="header-cell">Form status</th>
</app-table>

<app-confirm-modal 
  (confirm)="onConfirm($event)" 
  [cancelLabel]="'No'"
  [confirmLabel]="'Yes'"
  [message]="'Are you sure you want to delete data?'" 
  *ngIf="homeService.isConfirmModalOpen | async">
</app-confirm-modal>
