form {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.error-message {
    color: red;
    font-size: small;
}

.button {
    margin-top: 20px;
}



.title {
    font-size: 32px;
    color: rgb(3,54,83);
    margin-bottom: 30px;
}

.input {
    margin-top: 20px;
}