<h2 class="title">Sign Up</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <app-input class="input" [control]="usernameControl" [placeholder]="'Username'" [type]="'text'"></app-input>
    <div *ngIf="usernameControl.invalid && (usernameControl.dirty || usernameControl.touched)">
      <div class="error-message" *ngIf="usernameControl.errors?.['required']">Username is required</div>
    </div>

    <app-input class="input" [control]="emailControl" [placeholder]="'Email'" [type]="'text'"></app-input>
    <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)">
      <div class="error-message" *ngIf="emailControl.errors?.['email']">Invalid email</div>
      <div class="error-message" *ngIf="emailControl.errors?.['required']">Email is required</div>
    </div>

    <app-input class="input" [control]="passwordControl" [placeholder]="'Password'" [type]="'password'"></app-input>
    <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)">
      <div class="error-message" *ngIf="passwordControl.errors?.['required']">Password is required</div>
      <div class="error-message" *ngIf="passwordControl.errors?.['minlength']">Password must be at least 10 characters long</div>
    </div>

    <app-input class="input" [control]="confirmPasswordControl" [placeholder]="'Confirm password'" [type]="'password'"></app-input>
    <div *ngIf="confirmPasswordControl.invalid && (confirmPasswordControl.dirty || confirmPasswordControl.touched)">
      <div class="error-message" *ngIf="confirmPasswordControl.errors?.['required']">Confirm Password is required</div>
    </div>
    <div class="error-message" *ngIf="confirmPasswordControl.valid && registerForm.errors?.['passwordMismatch']">Passwords do not match</div>

    <app-button class="button" [label]="'Register'" [style]="'primary'" [type]="'submit'" [isDisabled]="registerForm.invalid"></app-button>
    <app-button class="button" [label]="'Go to Sign In'" [style]="'primary'" [type]="'button'" (onClick)="goToLogin()"></app-button>
  </form>