<app-table 
  [dataSource]="itemData$ | async" 
  [actions]="false" 
  [select]="false"
  [isLoading]="isItemDataLoading$ | async">
    <th class="header-cell">id</th>
    <th class="header-cell">Name</th>
    <th class="header-cell">Email</th>
    <th class="header-cell">Phone</th>
    <th class="header-cell">Form name</th>
    <th class="header-cell">Form status</th>
</app-table>

<app-table 
  [dataSource]="actionsData$ | async" 
  [actions]="false" 
  [select]="false"
  [isLoading]="isActionsDataLoading$ | async">
    <th class="header-cell">id</th>
    <th class="header-cell">Action</th>
    <th class="header-cell">Action start time</th>
    <th class="header-cell">Waiting time</th>
</app-table>