<div class="delete-multi-btn">
    <app-button *ngIf="(selItems | async)?.length && actions" [label]="'Delete selected data'" [style]="'danger'"
    (onClick)="onDeleteMulti(selItems.value)"></app-button>
</div>

<table class="custom-table">
  <app-spinner-loader *ngIf="isLoading"></app-spinner-loader>

  <!-- Table header -->
  <tr class="header-row">
    <th class="header-cell checkbox-cell" *ngIf="select">
      <div class="checkbox">
        <input type="checkbox" (change)="toggleAllSelection()" [checked]="isAllSelected()" />
        <div class="checkbox-custom"></div>
      </div>
    </th>
    <ng-content></ng-content>
    <th class="header-cell action-cell" *ngIf="!(selItems | async)?.length && actions">Actions</th>
  </tr>

  <!-- Table rows -->
  <tr class="data-row" *ngFor="let item of dataSource" [class.selected]="isItemSelected(item.id)">
    <td *ngIf="select" class="cell checkbox-cell" (click)="toggleSelection(item.id)">
      <div class="checkbox">
        <input type="checkbox" (click)="$event.stopPropagation()" [checked]="isItemSelected(item.id)"
          (change)="toggleSelection(item.id)" />
        <div class="checkbox-custom"></div>
      </div>
    </td>
    <ng-container *ngFor="let singleItem of item | keyvalue: originalOrder">
      <td>{{ singleItem.value }}</td>
    </ng-container>

    <td class="cell action-cell" *ngIf="!(selItems | async)?.length && actions">
      <div class="action-buttons">
        <app-button [label]="'View'" [style]="'secondary'" (onClick)="onView(item.id)"></app-button>
        <app-button [label]="'Delete'" [style]="'danger'" (onClick)="onDelete(item.id)"></app-button>
      </div>
    </td>
  </tr>
</table>

