.custom-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    color: var(--font-color);


    th,
    td {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 6px;
        text-align: left;
        word-wrap: break-word;
    }

    th {
        background-color: var(--background-color);
        font-weight: bold;
    }

    tr.data-row:hover {
        background-color: var(--background-color);
        cursor: pointer;
    }

    tr.data-row.selected {
        background-color: var(--background-color);
    }
}

.action-cell {
    width: 60px;
    margin-left: 12px;
    text-align: center;
    app-button {
        margin-right: 8px;
    }
}
.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-multi-btn {
    width: 200px;
    margin-bottom: 20px;
}