.auth-layout {
    display: flex;
    align-items: center;
    padding-left: 20%;
    height: 100vh;
    background-image: url('../../assets/super-admin.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.content {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 450px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}