    
<h2 class="title">Sign In</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <app-input class="input" [control]="emailControl" [placeholder]="'Email'" [type]="'text'"></app-input>
    <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)">
      <div class="error-message"  *ngIf="emailControl.errors?.['email']">Invalid email</div>
    </div>

    <app-input class="input" [control]="passwordControl" [placeholder]="'Password'" [type]="'password'"></app-input>
    <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)">
      <div class="error-message" *ngIf="passwordControl.errors?.['minlength']">Password must be at least 10 characters long</div>
    </div>

    <app-button class="button" [label]="'Login'" [style]="'primary'" [type]="'submit'" [isDisabled]="loginForm.invalid"></app-button>
    <app-button class="button" [label]="'Go to Sign Up'" [style]="'primary'" [type]="'button'" (onClick)="goToRegister()"></app-button>

</form>
<div class="forgot-password">
  <a routerLink="/auth/reset-password">forgot password?</a>
</div>



