button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.primary-button {
 background-color: rgb(3,54,83,0.95);;
 color: #ffffff;
}

.secondary-button {
background-color: #f0f0f0;
color: #333;
}

.success-button {
    background-color: #28a745;
    color: #fff;
}

.danger-button {
  background-color:#dc3545;
  color: #fff;
}

button:disabled {
    opacity: 0.7;
    cursor:initial;
}